<%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>

        <main>
            <%- include('./partials/members.ejs') %>

        </main>

        <%- include('./partials/foot.ejs') %>